{
  "extends": "eslint-config-imweb",
  "rules": {
    "prefer-destructuring": 0,
    "jsx-a11y/anchor-is-valid" : 0,
    "import/extensions" : 0,
    "no-debugger": 0,
    "no-restricted-syntax": 0,
    "react/no-unused-state": 0,
    "import/prefer-default-export": 0,
    "eqeqeq": 0,
    "jsx-a11y/iframe-has-title": 0,
    "react/jsx-no-undef": 0,
    "max-len":"off",
    "react/jsx-closing-tag-location": 0,
    "linebreak-style": 0,
    "react/sort-comp": 0,
    "no-console": "off"
  }
}