.upload-img--self {
  margin-left: 20px;
  margin-bottom: 30px;
}

.upload-img--self .ant-upload, .upload-img--self .ant-upload-list-item  {
  margin-left: 10px;
}

.upload-img--self .upload-img-hint, .upload-img--example .upload-img-hint {
  margin-bottom: 10px;
}

.upload-img--example Button {
  margin-left: 10px;
}

.upload-img--example .img-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.upload-img--example .img-list .img-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.upload-img--example .img-list .img-container img {
  width: 120px;
  height: 120px;
  margin: 10px;
}

.upload-img--example .img-list .img-container .img-mask {
  background: rgba(255, 255, 255, 0.5);
  color:#67C23A;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}

.label-search-container {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}

.label-search-container Input {
  width: 30%;
}

.labels-container {
  margin-top: 20px;
}

.labels-container .label-imgs {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.labels-container img {
  width: 120px;
  height: 120px;
  margin: 10px;
}

.labels-container .label-name {
  font-size: 20px;
  font-weight: bold;
}

.label-search {
  margin: 0 10px 0 0;
}